{% raw %}
<!doctype html>
<html ng-app="POA">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>
    <script src="static/project.js"></script>
  </head>
  <body>
    <div ng-controller="GameCtrl">
        <h1 ng-repeat="game in games.games">Hello {{game.name}}!</h1>
    </div>
    <p>Create a game</p>
    <form name="add game" action="game">
    Name: <input type="text" name="name"><br>
    <input type="checkbox" name="free_to_play" value="free_to_play">Free to play<br>
    <input type="submit" value="Add game">
    </form>
  </body>
</html>
{% endraw %}
